
header {
  outline: 2px solid red;
}

main {
  outline: 2px solid blue;
}

footer {
  outline: 2px solid green;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.page-body {
  display: grid;
  margin: 0 20px;
  font-family: "Open Sans", sans-serif;
}

@media (min-width: 1200px) {
  .page-body {
    grid-template-columns: 1fr 2fr;
    max-width: 1200px;
    margin: auto;
  }
}

.logo {
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0 19px 0;
  color: #3d4a6e;
  background: #f4f4f4;
}

.logo1 {
  font-size: 39px;
}

.logo2 {
  font-size: 15px;
  padding-top: 2px;
  border-top: 1px solid #3d4a6e;
}

.menu {
  padding: 0;
  border-bottom: 4px solid #fff;
  border-top: 2px solid #fff;
}
