
header {
  outline: 2px solid red;
}

main {
  outline: 2px solid blue;
}

footer {
  outline: 2px solid green;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.page-body {
  display: grid;
  margin: 0 20px;
  font-family: "Open Sans", sans-serif;
  min-width: 320px;
  max-width: 1200px;
}

.header {
  display: flex;
  flex-wrap: wrap;
}

.logo {
  width: auto;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 10px;
  margin: auto;
  color: #3d4a6e;
  background: #f4f4f4;
}

.logo1 {
  font-size: 39px;
}

.logo2 {
  font-size: 15px;
  padding-top: 2px;
  border-top: 1px solid #3d4a6e;
}

.menu {
  padding: 0;
  border-top: 2px solid #fff;
}

.header-menu,
.side-menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding: auto;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.side-menu {
  order: 2;
}

.blockf {
  order: 3;
}

.header-menu__item,
.side-menu__item {
  width: 100%;
  background: #3d4a6e;
  border-radius: 5%;
  font-size: 16px;
  padding: 15px;
  margin-bottom: 4px;
  text-align: center;
}

@media (min-width: 1000px) {
  .header-menu {
    width: auto;
  }

  .side-menu {
    order: 0;
  }

  .side-menu__item {
    height: auto;
    align-items: center;
    align-content: flex-start;
    width: 30%;
  }

  .header-menu__item {
    width: auto;
    margin: 0 10px;
    font-size: 20px;
  }
}

.header-menu__item a,
.side-menu__item a {
  color: #f4f4f4;
}
